div(style="background: lightblue;padding: 1em;")
    h1 Add Quote
    form(method="post" action="/addQuoteToDB")
        input(name="topic" placeholder="Topic"   )
        br
        input(name="author" placeholder="Author"   )
        br
        input(name="reference" placeholder="Reference"   )
        br
        input(name="quote" placeholder="Quote"   )
        br
        input(type="submit" )

