div(style="background: lightblue;padding: 1em;")
    h1 Add Quote
    form(method="post" action="/delQuoteInDB")
        input(name="quoteId" placeholder="Id"   )
        br
        input(type="submit" value="Delete" )

