extends layout
block content
    h1= Login
    p This page is not yet implemented
    p This page, and its menu item, can only be seen when your NOT "logged in" (see main.ejs)
    br
    h4 Please observe that server-side sessions is a learning goal, NOT security
    h4 Don't take anything in this CA as a template for how to do REAL authentication