extends layout
block content
    h1= Login
    form(method="post" action="/")
        input(name="userName" placeholder="Username"   )
        br
        input(name="password" type="passWord" placeholder="Password"   )
        br
        input(type="submit" )
    p(style="color:red") #{loginerror}